.chatWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/wanchat-5f188.appspot.com/o/bg-boasvindas.webp?alt=media&token=08174658-0e88-4a00-86f9-2808ab7569c5");
}

.chatWindow-header {
  height: 10%;
  max-height: 100px;
  background-color: var(--content-bar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
  border-radius: 10px;
  margin: 10px;
}

/* ------ Informações do contato ------ */

/* ----------------------------------- */

.chatWindow-header-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chatWindow-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 15px;
}

.chatWindow-name {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* ------ Buttons ------ */

.chatWindow-header-buttons {
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: var(--icons);
  cursor: pointer;
}

.chatWindow-header-buttons:hover {
  background: var(--hover-button);
  color: var(--trash);
}

.button-delete-mensages {
  margin-left: 0.7rem;
  font-weight: bold;
}

.chatWindow-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons);
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
}

.chatWindow-button:hover {
  background-color: var(--hover-button);
}

/* ------ Area de mensagens ------ */

/* ------------------------------- */

.chatWindow-body {
  flex: 1;
  overflow-y: auto;
  background-size: cover;
  background-position: center;

  padding: 20px 30px;
  transition: all ease 0.5s;
}

.chatWindow-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.chatWindow-body::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 4px;
}

/* ------ Area de envio de mensagen ------ */

/* --------------------------------------- */

.chatWindow-footer {
  height: 12%;
  max-height: 80px;
  border-radius: 10px;
  background-color: var(--content-bar);
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  margin: 10px;
}

.chatWindow-before {
  display: flex;
  margin: 0 10px;
}

.chatWindow-input-area {
  flex: 1;
}

.chatWindow-input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: var(--text-area);
  padding: 0 15px;
}

.chatWindow-later {
  display: flex;
  margin: 0 10px;
}

aside.emoji-picker-react {
  width: auto;
  box-shadow: none;
  background: var(--text-area);
}

aside.emoji-picker-react .emoji-group:before {
  background: none;
  color: black;
}

.chatWindow-emojiarea {
  background-color: transparent;
  overflow-y: hidden;
  transition: all ease 0.5s;
}

@media (max-width: 768px) {
  .chatWindow {
    width: 768px;
  }
}

@media (max-width: 425px) {
  .chatWindow {
    width: 425px;
  }
}

@media (max-width: 375px) {
  .chatWindow {
    width: 375px;
  }
}

@media (max-width: 320px) {
  .chatWindow-name {
    font-size: 14px;
  }
  .chatWindow-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
  .chatWindow {
    width: 320px;
  }
}