.status-item{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--icons);
}

.toggle-status{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--available);

}

.modal-toggle-status{
  
  visibility: hidden;
  width: auto;
  height: auto;
  border-radius: 10px;
  
  background-color: var(--content-area);
  position: absolute;
  top: 50%;
  left: 4.8%;
  box-shadow: 3px 3px var(--bg-profile);

}

.modal-item{
  padding: 0.1rem 1rem;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-item:hover{
  background-color: var(--contact-item-selected);
}

.modal-item p {
  color: var(--text-color);
}

.modal-item div {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.modal-item div.avaliable{
  background-color: var(--available);
}

.modal-item div.unavaliable{
  background-color: var(--unavailable);
}
.modal-item div.offline{
  background-color: var(--offline);
}