.login {
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/wanchat-5f188.appspot.com/o/bg-boasvindas.webp?alt=media&token=08174658-0e88-4a00-86f9-2808ab7569c5");
}

.navBar {
  background-color: var(--bg-message-contact);
  justify-content: center;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  width: min(90vw, 1200px);
  margin: auto;
}

.navBar ul li {
  margin: 0 4.5rem;
}

.logotipo img {
  width: 200px;
  height: 88px;
}

.auht-google {
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.auht-google p {
  font-weight: bold;
  opacity: 0.9;
  color: var(--content-bar);
}

.auht-google:hover {
  background-color: rgb(235, 235, 235);
}

.auht-google img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
}

.content {
  width: min(90vw, 1200px);
  margin: auto;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 2.5rem;
  justify-content: space-between;
}

.dest {
  background: rgba(255, 255, 255, 0.021);
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: center;
  margin: 2rem;
}

.text h2 {
  font-size: 2.5rem;
  color: var(--icons);
  font-weight: bolder;
}

.text p {
  line-height: 2;
  font-size: 1.2rem;
}

.img {
  margin: 2rem;
}

.img img {
  width: 500px;
  height: 500px;
}

.footer {
  display: flex;
  background-color: var(--bg-message-contact);
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}