:root {
    --top-bar: #191A21;
    --content-bar: #21222C;
    --toolbar: #343746;
    --scroll: rgba(24, 25, 31, 0.5);
    --hover-button: #282A36;
    --content-area: #282A36;
    --icons: #5F6E9D;
    --text-area: #B9B9B9;
    --available: #43B581;
    --unavailable: #DE1313;
    --inactive: rgb(110, 110, 110);
    --trash: #e24949;
    --offline: #6b6b6b;
    --line: #18191f;
    --contact-item-selected: #313341;
    --text-color: #FFFFFF;
    --text-color-title-form: #7c7c7c;
    --bg-message-user: #404046;
    --bg-message-contact: #191A21;
    --text-message-date: rgba(238, 238, 238, 0.8);
    --text-message: #EEEEEE;
    --bg-profile: rgba(0, 0, 0, 0.6);
}

.light-mode:root {
    --top-bar: #9F9F9F;
    --content-bar: #D6D6D6;
    --toolbar: #B1B1B1;
    --scroll: rgba(152, 157, 185, 0.5);
    --hover-button: #EAEAEA;
    --content-area: #EAEAEA;
    --icons: #5F6E9D;
    --text-area: #B9B9B9;
    --available: #43B581;
    --unavailable: #DE1313;
    --line: #989db9;
    --contact-item-selected: #9F9F9F;
    --text-color: #313131;
    --text-color-title-form: #252525;
    --bg-message-user: #9F9F9F;
    --bg-message-contact: #38393f;
    --text-message-date: rgba(238, 238, 238, 0.8);
    --text-message: #EEEEEE;
}

/* ------ Configurações gerais do projeto ------ */

/* --------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--content-area);
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* ------ Janela pricipal do app (viewport) ------ */

/* ----------------------------------------------- */

.app-window {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: var(--content-area);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

/* ------ Barra de ferramentas ------ */

.toolbar {
    width: 4rem;
    height: 100%;
    background-color: var(--toolbar);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-right: 0.5px solid var(--line);
    transition: all ease 0.5s;
}

.tool-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    color: var(--icons);
}

a {
    text-decoration: none;
    color: inherit;
}

.tool-button:hover {
    background-color: var(--hover-button);
    transition-duration: 0.1s;
}

/* ------ Barra lateral - sidebar ------ */

.sidebar {
    width: min(20rem, 80rem);
    height: 100%;
    background-color: var(--content-bar);
    border-right: 1px solid var(--line);
    display: flex;
    flex-direction: column;
    transition: all ease 0.5s;
}

.search {
    border-bottom: var(--line);
    padding: 10px 10px;
}

.search-input {
    background-color: var(--text-area);
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-input input {
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
}

.chatlist {
    background-color: var(--content-bar);
    overflow-y: auto;
    transition: all ease 0.5s;
}

.chatlist::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.chatlist::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 4px;
}

/* ------ Area de janelas ------ */

.content-area {
    flex: 1;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
    .content-area {
        width: 768px;
    }
}

@media (max-width: 375px) {
    .app-window {
        height: 100vh;
    }
    .top-bar {
        height: 6%;
    }
}